# Data Loading
David Modjeska and Andrew Greene

This notebook isolates the code we use to load the data and do some last-minute pre-processing on it.

In [3]:
# Deal with our necessary importds

import datetime
import itertools as it
import numpy as np
import os.path as op
import pandas as pd
import scipy as sp
import sklearn.preprocessing as Preprocessing

from itertools import combinations
from scipy.io import mmread
from sklearn.decomposition import TruncatedSVD as tSVD
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

from IPython.display import display, HTML

In [4]:
### Specify processed data files to generate - full/partial, partial %, and train/test
### Note: this cell is the same in both notebooks

# load and clean full dataset?
#load_full = False
load_full = True  # AMG

# if not loading and cleaning full dataset, what sample percentage?
sample_percent = 10

if load_full:
    pct_str = ""
else: # not load_full
    pct_str = str(sample_percent) + "_pct"
    
# use training or testing data to generate minor files?
minor_use_train = True
if minor_use_train:
    mode_str = "train"
else: # not minor_use_train
    mode_str = "test"
    
### set intermediate file names
dir_str = "./intermediate_files/"

processed_data_train_file = dir_str + "processed_data_" + "train" + pct_str + ".json"
processed_data_test_file = dir_str + "processed_data_" + "test" + pct_str + ".json"

nlp_data_file = dir_str + "nlp_data_" + mode_str + pct_str + ".json"
nlp_data_train_file = dir_str + "nlp_data_" + mode_str + pct_str + ".json"
term_freqs_file = dir_str + "term_freqs_" + mode_str + pct_str + ".mtx"
diff_terms_file = dir_str + "diff_terms_" + mode_str + pct_str + ".json"

In [5]:
### load processed data
data = pd.read_json(processed_data_train_file)
data_nlp = pd.read_json(nlp_data_file)
desc_matrix_coo = mmread(term_freqs_file)
desc_matrix = sp.sparse.csr_matrix(desc_matrix_coo)
count_cols_df = pd.read_json(diff_terms_file)

count_cols_bool = count_cols_df.values > 0.0

In [6]:
print len(data) # Confirm that the number looks reasonable

173805

We want to do a little filtering here. As discussed in our writeup, we will limit ourselves to 36-month loans issued in the years 2011, 2012, and 2013

In [8]:
model_loan_term = 36
data_filtered = data[data.loan_term == model_loan_term]
data_filtered = data_filtered[pd.to_datetime(data_filtered.issue_date).dt.year.isin([2011,2012,2013])]
print len(data_filtered)

79052

In [9]:
# Make sure we have a reasonable distribution of issue dates
pd.to_datetime(data_filtered.issue_date).dt.year.value_counts()

2013    38957
2012    30170
2011     9925
Name: issue_date, dtype: int64

A quick top-level sanity-check of the data, using Pandas `describe` method (and transposing it so it first on screen better)

In [10]:
data_filtered.describe().T

C:\Users\agreene\AppData\Local\Continuum\Anaconda2\envs\amg1\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,count,mean,std,min,25%,50%,75%,max
annual_income,79052.0,6.903144e+04,5.626822e+04,5.000000e+03,4.200000e+04,6.000000e+04,8.400000e+04,7.141778e+06
cpi,79052.0,2.129961e-02,4.217134e-04,2.069586e-02,2.092454e-02,2.132448e-02,2.166709e-02,2.224093e-02
delinq_2_yrs,79052.0,1.832085e-01,4.819232e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00
desc_len,38614.0,2.499745e+02,2.132272e+02,1.000000e+00,NaN,NaN,NaN,4.544000e+03
dti,79052.0,2.437067e-03,1.136559e-03,0.000000e+00,1.575150e-03,2.392426e-03,3.267855e-03,5.445891e-03
gdp,79052.0,9.997262e-01,3.283828e-05,9.995987e-01,9.997036e-01,9.997311e-01,9.997524e-01,9.997853e-01
id,79052.0,3.620877e+06,2.750039e+06,5.852400e+04,1.341303e+06,2.380480e+06,5.875565e+06,1.023482e+07
inquiry_6_mos,79052.0,7.952866e-01,9.543483e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
installment,79052.0,3.986631e+02,2.455526e+02,3.016000e+01,2.190400e+02,3.433900e+02,5.150800e+02,1.408130e+03
interest_rate,79052.0,1.283620e+01,3.946880e+00,5.420000e+00,9.990000e+00,1.299000e+01,1.561000e+01,2.589000e+01
ipr,79052.0,1.183191e-05,6.397747e-06,1.276000e-07,6.920525e-06,1.084875e-05,1.591122e-05,4.245340e-05
loan_amount,79052.0,1.184697e+04,7.184559e+03,1.000000e+03,6.500000e+03,1.000000e+04,1.500000e+04,3.500000e+04
loan_subgrade,79052.0,8.948996e+00,5.425375e+00,1.000000e+00,6.000000e+00,7.000000e+00,1.200000e+01,3.400000e+01
loan_term,79052.0,3.600000e+01,0.000000e+00,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01
months_since_last_record,6604.0,8.627771e+01,2.573780e+01,1.000000e+00,NaN,NaN,NaN,1.210000e+02
open_accounts,79052.0,1.055114e+01,4.556530e+00,1.000000e+00,7.000000e+00,1.000000e+01,1.300000e+01,5.200000e+01
recoveries,79052.0,1.058802e+02,5.312564e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.190052e+04
revol_util,79052.0,8.443503e-03,3.693020e-03,0.000000e+00,5.826174e-03,8.728256e-03,1.134363e-02,1.854648e-02
rir,79052.0,4.066357e-04,3.158694e-04,0.000000e+00,1.938443e-04,3.412435e-04,5.418374e-04,7.473309e-03
total_accounts,79052.0,2.370409e+01,1.115893e+01,2.000000e+00,1.500000e+01,2.200000e+01,3.000000e+01,9.100000e+01
unemploy,79052.0,1.073260e-03,6.921652e-05,9.665647e-04,9.991520e-04,1.081487e-03,1.139510e-03,1.168791e-03
verif_status,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We need to make a couple of adjustments to columns

In [11]:
# earliest_credit is not really a good indicator -- we want to know how long has elapsed since then
# See http://stackoverflow.com/questions/17414130/pandas-datetime-calculate-number-of-weeks-between-dates-in-two-columns
data_filtered['months_since_earliest_credit'] = (
    (pd.to_datetime(data_filtered.issue_date) - pd.to_datetime(data_filtered.earliest_credit))/np.timedelta64(1,'M')
).round()

In [12]:
# Separate the predictors (everything except "loan status") and the outcome
data_filtered_x = data_filtered.drop('loan_status', axis = 1)
data_filtered_y = data_filtered['loan_status']

In [36]:
# copy unstandardized columns for later profit calculation
profit_data = data_filtered_x[['installment', 'loan_amount', 'recoveries']]
recoveries_avg = profit_data.recoveries.sum() / float(np.count_nonzero(profit_data.recoveries))
data_filtered_x = data_filtered_x.drop('recoveries', axis = 1)

Standardize the data. (See the comment below for a detailed explanation of what that means)

In [13]:
# Certain columns in the raw data should not be in our model
columns_not_to_expand = [
    'description',     # free-text, so don't one-hot encode (NLP is separate)
    'verif_status',    # not sure why this is posing a problem....
    'loan_subgrade',   # tainted predictor
    'id',              # unique to each row
    'interest_rate',   # tainted predictor
    'index',           # unique to each row
    'issue_date',      # not useful in future, using economic indicators instead
    'earliest_credit', # has been converted to months_since_earliest_credit
]

In [2]:
# Given an input matrix X and the equivalent matrix X from the training set,
#
# (1) impute missing values (as "MISSING" for categorical, since the fact that 
# the value is missing may itself be significant; and using the median value
# for continuous predictors)
#
# (2) expand categorical predictors into a set of one-hot-encoded columns 
# (using 0 and 1, and limiting ourselves to the 50 most common values in the
# training set)
#
# (3) standardize continuous predictors using the mean and stdev of the
# training set

def expand_x(x, x_orig):
    x_expanded = pd.DataFrame()
    for colname in x_orig.columns:
        if colname in columns_not_to_expand:
            continue
        print colname, x_orig[colname].dtype
        if x_orig[colname].dtype == 'object':
            values = x[colname].fillna('MISSING')
            value_columns = x_orig[colname].fillna('MISSING').value_counts().index
            if len(value_columns) > 50:
                value_columns = value_columns[:50]
            for val in value_columns:
                x_expanded[colname + '__' + val.replace(' ', '_')] = (values == val).astype(int)
        else:
            values = x[colname].fillna(x[colname].median())
            sd = np.nanstd(x_orig[colname])
            if sd < 1e-10:
                sd = 1
            x_expanded[colname] = (values - np.nanmean(x_orig[colname]))/sd
    return x_expanded

In [39]:
data_filtered_expanded_x = expand_x(data_filtered_x, data_filtered_x)

address_state object
annual_income float64
cpi float64
delinq_2_yrs int64
desc_len float64
dti float64
employ_length object
employ_title object
gdp float64
home_owner object
initial_list_status object
inquiry_6_mos int64
installment float64
interest_rate float64
ipr float64
loan_amount int64
loan_purpose object
loan_term int64
months_since_last_record float64
open_accounts int64
revol_util float64
rir float64
total_accounts int64
unemploy float64
months_since_earliest_credit float64

Again, let's use `describe` to sanity-check what we have

In [40]:
data_filtered_expanded_x.describe().T

,count,mean,std,min,25%,50%,75%,max
address_state__CA,79052.0,1.799828e-01,0.384176,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__NY,79052.0,8.838486e-02,0.283856,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__TX,79052.0,7.741740e-02,0.267254,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__FL,79052.0,7.221829e-02,0.258851,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__IL,79052.0,3.800030e-02,0.191198,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__NJ,79052.0,3.712746e-02,0.189075,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__PA,79052.0,3.153620e-02,0.174763,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__GA,79052.0,2.996762e-02,0.170499,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__VA,79052.0,2.973992e-02,0.169870,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__OH,79052.0,2.920862e-02,0.168392,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__NC,79052.0,2.842433e-02,0.166183,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__WA,79052.0,2.456611e-02,0.154800,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__MA,79052.0,2.422456e-02,0.153747,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__AZ,79052.0,2.364267e-02,0.151934,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__MI,79052.0,2.241563e-02,0.148032,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__MD,79052.0,2.206143e-02,0.146884,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__CO,79052.0,2.069524e-02,0.142363,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__MN,79052.0,1.692557e-02,0.128993,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__NV,79052.0,1.562263e-02,0.124011,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__MO,79052.0,1.545818e-02,0.123367,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__CT,79052.0,1.502808e-02,0.121665,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__OR,79052.0,1.361129e-02,0.115871,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__AL,79052.0,1.191621e-02,0.108510,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__WI,79052.0,1.146081e-02,0.106441,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__LA,79052.0,1.143551e-02,0.106324,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__SC,79052.0,1.037292e-02,0.101319,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__OK,79052.0,8.804331e-03,0.093418,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__KS,79052.0,8.766382e-03,0.093218,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__KY,79052.0,8.348935e-03,0.090991,0.000000,0.000000,0.000000,0.000000,1.000000
address_state__UT,79052.0,8.057987e-03,0.089404,0.000000,0.000000,0.000000,0.000000,1.000000
...,...,...,...,...,...,...,...,...
home_owner__OTHER,79052.0,3.541972e-04,0.018817,0.000000,0.000000,0.000000,0.000000,1.000000
home_owner__NONE,79052.0,3.288974e-04,0.018133,0.000000,0.000000,0.000000,0.000000,1.000000
initial_list_status__f,79052.0,8.359055e-01,0.370364,0.000000,1.000000,1.000000,1.000000,1.000000
initial_list_status__w,79052.0,1.640945e-01,0.370364,0.000000,0.000000,0.000000,0.000000,1.000000
inquiry_6_mos,79052.0,1.296984e-15,1.000006,-0.833335,-0.833335,0.214507,0.214507,2.310191
installment,79052.0,-3.076216e-16,1.000006,-1.500719,-0.731510,-0.225098,0.474105,4.111026
interest_rate,79052.0,-4.361804e-15,1.000006,-1.879016,-0.721132,0.038967,0.702786,3.307392
ipr,79052.0,-2.822887e-18,1.000006,-1.829454,-0.767679,-0.153674,0.637621,4.786323
loan_amount,79052.0,-4.752050e-15,1.000006,-1.509771,-0.744236,-0.257077,0.438865,3.222630
loan_purpose__debt_consolidation,79052.0,5.628447e-01,0.496038,0.000000,0.000000,1.000000,1.000000,1.000000
loan_purpose__credit_card,79052.0,2.191089e-01,0.413645,0.000000,0.000000,0.000000,0.000000,1.000000
loan_purpose__home_improvement,79052.0,5.606436e-02,0.230047,0.000000,0.000000,0.000000,0.000000,1.000000
loan_purpose__other,79052.0,5.448313e-02,0.226970,0.000000,0.000000,0.000000,0.000000,1.000000
loan_purpose__major_purchase,79052.0,2.595760e-02,0.159010,0.000000,0.000000,0.000000,0.000000,1.000000
loan_purpose__small_business,79052.0,1.903810e-02,0.136660,0.000000,0.000000,0.000000,0.000000,1.000000
loan_purpose__car,79052.0,1.571118e-02,0.124356,0.000000,0.000000,0.000000,0.000000,1.000000
loan_purpose__wedding,79052.0,1.159996e-02,0.107077,0.000000,0.000000,0.000000,0.000000,1.000000
loan_purpose__medical,79052.0,1.158731e-02,0.107020,0.000000,0.000000,0.000000,0.000000,1.000000
loan_purpose__moving,79052.0,8.500734e-03,0.091807,0.000000,0.000000,0.000000,0.000000,1.000000
loan_purpose__vacation,79052.0,7.159844e-03,0.084313,0.000000,0.000000,0.000000,0.000000,1.000000
loan_purpose__house,79052.0,6.717098e-03,0.081683,0.000000,0.000000,0.000000,0.000000,1.000000
loan_purpose__renewable_energy,79052.0,1.227040e-03,0.035008,0.000000,0.000000,0.000000,0.000000,1.000000
loan_term,79052.0,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
months_since_last_record,79052.0,2.749926e-01,0.300723,-3.313576,0.300060,0.300060,0.300060,1.349180
open_accounts,79052.0,-5.206858e-15,1.000006,-2.096157,-0.779358,-0.120958,0.537442,9.096641
revol_util,79052.0,-5.210627e-16,1.000006,-2.286356,-0.708728,0.077106,0.785305,2.735712
rir,79052.0,1.096853e-17,1.000006,-1.287362,-0.673673,-0.207024,0.428033,22.372281
total_accounts,79052.0,-1.108708e-15,1.000006,-1.945010,-0.780017,-0.152712,0.564207,6.030716
unemploy,79052.0,7.156631e-15,1.000006,-1.541483,-1.070677,0.118864,0.957145,1.380187
months_since_earliest_credit,79052.0,4.205371e-16,1.000006,-1.684362,-0.666905,-0.188102,0.482222,6.120130

### Split Data

In [42]:
# Get a more manageable sample
np.random.seed(1729)
sample_flags = np.random.random(len(data_filtered_expanded_x)) <= 0.25
print "Indexes computed" 

# train set
x_expanded = data_filtered_expanded_x.iloc[sample_flags, :]
print len(x_expanded)

# test set
x_test_expanded = data_filtered_expanded_x.iloc[~sample_flags, :]
print len(x_test_expanded)

Indexes computed
19719
59333

In [43]:
# split response column
y = data_filtered_y.iloc[sample_flags]
y_test = data_filtered_y.iloc[~sample_flags]

In [44]:
# split profit data
profit_data_train = profit_data.iloc[sample_flags, :]
profit_data_test = profit_data.iloc[~sample_flags, :]

In [45]:
### filter NLP data
filter_flags = data_nlp.loan_term.values == model_loan_term
data_nlp_filtered = data_nlp.iloc[filter_flags]

x_nlp_filtered = data_nlp_filtered.drop('loan_status', 1)
y_nlp_filtered = data_nlp_filtered.loan_status

desc_matrix_filtered = desc_matrix[filter_flags]
count_cols_bool_filtered = count_cols_bool[filter_flags]

In [46]:
### split NLP data into training and testing sets
np.random.seed(1729)
train_flags = np.random.random(data_nlp_filtered.shape[0]) < 0.7

x_nlp_train = x_nlp_filtered.iloc[train_flags, :]
y_nlp_train = y_nlp_filtered.iloc[train_flags]

x_nlp_test = x_nlp_filtered.iloc[~train_flags, :]
y_nlp_test = y_nlp_filtered.iloc[~train_flags]

desc_matrix_train = pd.DataFrame(desc_matrix_filtered[train_flags, :].toarray())
desc_matrix_test = pd.DataFrame(desc_matrix_filtered[~train_flags, :].toarray())

count_cols_bool_train = pd.DataFrame(count_cols_bool_filtered[train_flags, :])
count_cols_bool_test = pd.DataFrame(count_cols_bool_filtered[~train_flags, :])

years_nlp = pd.to_datetime(x_nlp_train.issue_date).dt.year
years_nlp_test = pd.to_datetime(x_nlp_test.issue_date).dt.year

In [47]:
### match indexes

desc_matrix_train.index = x_nlp_train.index
desc_matrix_test.index = x_nlp_test.index

count_cols_bool_train.index = x_nlp_train.index
count_cols_bool_test.index = x_nlp_test.index

In [48]:
# inspect test proportion of good/bad loans
y_test.value_counts()

False    50334
True      8999
Name: loan_status, dtype: int64

In [49]:
# verify size of train set
np.count_nonzero(x_expanded.loan_amount)

19719

In [50]:
# be prepared to split stuff up by year of issue
years = pd.to_datetime(data_filtered_x.issue_date.iloc[sample_flags]).dt.year
years_test = pd.to_datetime(data_filtered_x.issue_date.iloc[~sample_flags]).dt.year

### Apply PCA to predictors

In [51]:
tsvd = tSVD(n_components = 100)
data_filtered_expanded_x_pca = pd.DataFrame(tsvd.fit_transform(data_filtered_expanded_x))
data_filtered_expanded_x_pca.index = data_filtered_expanded_x.index
pca_cum_var_expl = np.cumsum(np.round(tsvd.explained_variance_ratio_, 4) * 100)

In [52]:
print "PCA: first and last columns where % variance explained >= 99:", \
            np.where(pca_cum_var_expl >= 99)[0][[0, -1]]

x_expanded_pca = data_filtered_expanded_x_pca.iloc[sample_flags, :73]
x_test_expanded_pca = data_filtered_expanded_x_pca.iloc[~sample_flags, :73]

PCA: first and last columns where % variance explained >= 99: [62 99]

In [53]:
tsvd = tSVD(n_components = 500)
desc_matrix_filtered_pca = pd.DataFrame(tsvd.fit_transform(desc_matrix_filtered))
desc_matrix_filtered_pca.index = x_nlp_filtered.index
pca_cum_var_expl = np.cumsum(np.round(tsvd.explained_variance_ratio_, 4) * 100)

In [54]:
try:
    print "PCA: first and last columns where % variance explained >= 85:", \
                np.where(pca_cum_var_expl >= 85)[0][[0, -1]]
catch:
    print "Exception!"

PCA: first and last columns where % variance explained >= 85: [298 499]

In [55]:
desc_matrix_pca = desc_matrix_filtered_pca.iloc[train_flags, :]
desc_matrix_test_pca = desc_matrix_filtered_pca.iloc[~train_flags, :]